.product-title {
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: -0.025em;
  margin-bottom: 1.2rem;
  margin-top: -0.5rem;
  padding-right: 1rem;
}
.product .product-price {
  font-size: 2.4rem;
}
.product-price {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #c96;
  margin-bottom: 1.3rem;
}
.product .product-content {
  margin-bottom: 1.6rem;
}
.product .product-content p:last-child {
  margin-bottom: 0;
}
.quantity-filter-row {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}
.quantity-filter-row label {
  display: inline-block;
  width: 67px;
  font-weight: 400;
  margin-bottom: 0;
  color: #666;
  margin: 0 0 1.1rem;
}
.product-details-quantity {
  max-width: 131px;
  flex: 0 0 131px;
}
.product-details-quantity .form-control {
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  text-align: center;
  margin-bottom: 0;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: 0 auto;
  background: #eaeaea;
  border-radius: 10px;
  padding: 1rem 0.4rem;
  /* margin-top: 4rem; */
}

.quantity-btn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0px 8px;
  cursor: pointer;
}
.quantity-btn i {
  width: 15px;
  height: 15px;
}
.quantity-input {
  outline: none;
  user-select: none;
  text-align: center;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-image {
  width: 100%;
  margin-top: 30px;
}
