img {
  width: 100%;
}
body {
  background: #f8f9fa;
}
.auth-wrapper {
  background: #fff;
  border-radius: 8px;
}
.auth-inputs {
  background: #f8f9fa;
  border: #f8f9fa;
}
.auth-inputs:focus {
  outline: none;
}
