.orders-wrapper {
  background: #fff;
  -webkit-box-shadow: 0 1px 6px 1px rgb(69 65 78 / 10%);
  -moz-box-shadow: 0 1px 6px 1px rgba(69, 65, 78, 0.1);
  box-shadow: 0 1px 6px 1px rgb(69 65 78 / 10%);
  margin-bottom: 30px;
  height: calc(100% - 2rem);
}
.order-title {
  position: relative;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-statistics {
  position: relative;
  padding: 1.5rem;
}
.main {
  padding: 45px;
}
img {
  height: 150px;
  width: 100%;
}

.item {
  padding-left: 5px;
  padding-right: 5px;
}
.item-card {
  transition: 0.5s;
  cursor: pointer;
}
.item-card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.item-card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.item-card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.card-text {
  height: 80px;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.ratted-item {
  background: #cdaeff91;
  border-radius: 6px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
