@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

body {
  font-family: "Raleway" !important;
}
.purple-btn {
  border: #845ec2;
  background: #845ec2;
  color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}
.purple-btn:hover {
  border: #b39cd0;
  background: #b39cd0;
}

.title {
  color: #b39cd0;
  color: #fbeaff;
  color: #00c9a7;
}
.c-red {
  color: #dc3545;
}
.c-green {
  color: #28a745;
}
