@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

body {
  font-family: "Raleway" !important;
}
.purple-btn {
  border: #845ec2;
  background: #845ec2;
  color: white;
}
.purple-btn:hover {
  border: #b39cd0;
  background: #b39cd0;
}

.title {
  color: #b39cd0;
  color: #fbeaff;
  color: #00c9a7;
}
